.DS_Store
.metadata/
target/
output/
db/
src/main/webapp/WEB-INF/classes/
src/main/frontend/dist/
src/main/frontend/npm-debug.log
src/main/frontend/node_modules/
src/main/frontend/src/config/*.tmp
src/main/frontend/src/config/env.js
src/main/frontend/index_prod.html
src/main/frontend/index.html
src/main/resources/static/
.project
.classpath
.settings/
.mymetadata
.svn/
*.class
WebRoot/WEB-INF/classes/
RemoteSystemsTempFiles/
