database {
    driver-class-name = "com.mysql.jdbc.Driver",
    url = "jdbc:mysql://localhost:3306/web_monitor?useUnicode=true&characterEncoding=UTF-8",
    username = monitor,
    password = 1234,
    min-idle = 1,
    max-idle = 10,
    max-active = 10
}
task {
    enabled: [harvest-metrics],
    harvest-metrics: {
        type = method,
        cron = "*/10 * * * *",
        className = "io.github.yangziwen.webmonitor.metrics.UrlMetricsManager",
        methodName = "harvestMetricsResults"
    }
}

